body{
  background-color: black;
}
.js-result-window{
 color:white;
 height: 50px;
 font-size: 30px;
}

.js-operator-button{
    background-color: rgb(254, 160, 10);
     color:white;
     border: none;
  width: 80px;
  height: 80px;
  padding: 10;              
  white-space: nowrap;    
  overflow: hidden;        
  font-size: clamp(25px, 5vw, 25px);
    border-radius: 50%;  
  margin: 3px;
    display: flex;           
  align-items: center;
  justify-content: center;
    
}


.js-operand-button {
  background-color: rgb(51, 51, 51);
  color: white;
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;      
  margin: 3px;

  display: flex;           
  align-items: center;
  justify-content: center;

  padding: 10;              
  white-space: nowrap;    
  overflow: hidden;        
  font-size: clamp(25px, 5vw, 25px);
}


p {
  display: flex;
  gap: 10px;     
}
