  body {
    background-color: rgb(25, 25, 25);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  }

  .heading-rock-paper-scissors {
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }

  .js-result {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;

  }

  .reset-button {

    padding: 10px;
    cursor: pointer;
  }

  .js-moves {

    margin-top: 20px;
    margin-bottom: 50px;


  }

  .user-decision-images {
    height: 50px;

  }

  .user-decision-button {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
  }


