.subscribe-button {

      border: none;
      background-color: black;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-weight: bolder;
      font-family: 'Times New Roman', Times, serif;
      border-radius: 50px;
      cursor: pointer;
      margin-bottom: 30px;
    }

    .is-subscribed {
      font-family: 'Times New Roman', Times, serif;
      background-color: rgb(240, 240, 240);
      color: black;
    }

    .amazon-shipping {

      font-family: 'Times New Roman', Times, serif;
    }

    .input-text {

      font-family: 'Times New Roman', Times, serif;
      font-size: 15px;
      /* font-weight: bolder; */
      /* padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px; */
      padding: 10px;
    }

    .calculate-button {
      font-family: 'Times New Roman', Times, serif;

      background-color: green;
      border: none;
      color: white;
      font-size: 15px;
      padding: 12px 15px;
      cursor: pointer;
    }

    .error-message{
    color: red;
    }